<%= form_for([@category, @task]) do |f| %>
        <div class="mt-6">
            <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div class="mt-6">
            <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div class="mt-6">
            <%= f.label :status, class: "block text-sm font-medium text-gray-700" %>
            <%= f.select :status, [['Pending'], ['Completed' ], ['Priority']], {}, { class: 'block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' } %>
        </div>
        <div class="flex justify-end pt-5 gap-2">
            <%= link_to 'Cancel', @task.category, class: "border no-underline text-center align-middle select-none text-gray-900 px-3 py-1 rounded hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block" %>
            <%= f.submit class: "cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-normal px-3 py-1 rounded" %>
        </div>
<% end %>