<div class="px-4 flex justify-center items-center h-screen"> <!-- Added h-screen to ensure container takes full height -->
  <div class="mt-2 sm:w-full sm:max-w-lg relative"> <!-- Removed sm:mx-auto to center the container -->
    <div class="bg-white px-8 py-14 shadow sm:rounded-lg sm:px-10 relative">
      <div>
        <%= form_with(model: [@category, @task]) do |f| %>
        <div>
          <h1 class="m-0 text-center font-bold tracking-tight text-5xl text-gray-900"><%= @task.category.name %></h1>
          <p class="text-center mt-0">This form creates a task.</p>
        </div>
        <div class="mt-6">
            <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div class="mt-6">
            <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div class="flex justify-end pt-5 gap-2">
            <%= link_to 'Cancel', @task.category, class: "btn-secondary" %>
            <%= f.submit class: "cursor-pointer bg-purple-900 hover:bg-purple-700 text-white font-bold px-3 py-1 rounded-lg" %>
        </div>
        <% end %>
      </div>
        <div class="-bottom-10 right-25 absolute">
          <%= image_tag "plant cat-01.png", class: "w-44" %>
        </div>
    </div>
  </div>
</div>
