<div class="mx-auto max-w-7xl px-4 py-12 mt-20">
<div class="mx-auto max-w-4xl">

    <div class="flex items-center justify-between">
        <p class=" text-gray-500">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            <%= link_to @task.category.name, @task.category, class: "no-underline font-bold text-purple-900 hover:underline" %> / <%= @task.name %>
        </p>
        <%= link_to "Edit", edit_category_task_path(@category, @task), class: "btn-main"%>
    </div>

<div class="bg-white rounded-lg shadow-lg p-6">
  <h1 class="mt-4"><%= @task.name %></h1>
  <p><%= @task.description %></p>
</div>

    
</div>
</div>