<div class="mx-auto max-w-7xl px-4 py-12 mt-20">
<div class="mx-auto max-w-4xl">
    <p class=" text-gray-500">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <%= link_to @task.category.name, @task.category %> / <%= @task.name %>
    </p>
    <%= link_to "Edit", edit_category_task_path(@category, @task), class: "select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-md font-bold text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20"%>
    <h1 class="mt-4"><%= @task.name %></h1>
    <p><%= @task.description %></p>
    
</div>
</div>