<div class="mx-auto max-w-7xl px-4 flex justify-center items-center h-screen">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="pt-8">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Log in</h2>
    </div>
    
    <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-4">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 p-2 w-full rounded-md border border-gray-300" %>
          </div>

          <div class="mb-4">
            <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 p-2 w-full rounded-md border border-gray-300" %>
          </div>

           <div class="mb-4">
            <%= f.submit "Submit", class: "w-full bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white font-medium rounded-lg text-sm py-2.5" %>
          </div>
        <% end %>
        <div class="text-sm text-center">
          New to Bucket? <%= link_to "Sign up",new_user_registration_path, class: "text-blue-500 hover:underline" %>
        </div>
      </div>
    </div>
  </div>
</div>