<div class="px-4 flex justify-center items-center h-screen"> <!-- Added h-screen to ensure container takes full height -->
  <div class="mt-2 sm:w-full sm:max-w-lg relative"> <!-- Removed sm:mx-auto to center the container -->
    <div class="bg-white px-8 py-14 shadow sm:rounded-lg sm:px-10 relative">
      <div>
        <%= form_with model: @category do |f| %>
        <div>
          <% if @category.new_record? %>
          <h1 class="m-0 text-center font-bold tracking-tight text-5xl text-gray-900">Add Bucket</h1>
          <p class="text-center mt-0">This form creates a new bucket.</p>
          <% else %>
          <h3 class="m-0 text-center font-bold tracking-tight text-5xl text-gray-900">Edit Bucket</h3>
          <p class="text-center mt-0">This form updates the Bucket.</p>
          <% end %>
        </div>
        <div class="mb-4">
          <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :name, class: "mt-1 p-2 w-full rounded-md border border-gray-300 shadow-md shadow-gray-900/10 " %>
        </div>
        <div class="mb-4">
          <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_area :description, class: "mt-1 p-2 w-full rounded-md border border-gray-300 shadow-md shadow-gray-900/10 " %>
        </div>
        <div class="flex justify-end pt-5 gap-2">
          <%= link_to 'Cancel', categories_path, class: "btn-secondary" %>
          <%= f.submit class: "cursor-pointer bg-purple-900 hover:bg-purple-700 text-white font-bold px-3 py-1 rounded-lg" %>
        </div>
        <% end %>
      </div>
        <div class="-bottom-10 right-25 absolute">
          <%= image_tag "plant cat-01.png", class: "w-44" %>
        </div>
    </div>
  </div>
</div>

