<!DOCTYPE html>
<html>
  <head>
    <title>Bucket</title>
    <link rel="icon" href="/assets/bucket-logo.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

<body class="prose max-w-none h-screen bg-gray-100">
  <%= render partial: 'shared/notifications', locals: { message: flash[:notice]} %>
  <%= render 'layouts/header' %>
  <%= yield %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
