<!DOCTYPE html>
<html>
  <head>
    <title>Bucket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="prose">
<% if user_signed_in? %>
<%= link_to "All Buckets", categories_path%>
<%#= link_to "All Tasks", category_tasks_path %>
<%= link_to 'Log out', destroy_user_session_path, data: { "turbo-method": :delete} %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Log in', new_user_session_path %>

<% end %>
<%= yield %>
</body>
</html>
